@using NoticeBoard.Models.VewModel
@model AdminDashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Dashboard</h1>
<div class="col-md-12 ">
        <div class="card" style="min-height: 16rem; width: auto;">
            <h5 class="card-header" style="background: rgba(96,96,96,0.33)">Notice Board</h5>
            <div class="card-body" style="height: 20rem; overflow-y: scroll;">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Notice Title </th>
                            <th scope="col">Upload Time</th>
                            <th scope="col">Total VIewed</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach(var AdminNotice in Model.Notice)
                        {
                        <tr>
                            <td><a href="@AdminNotice.NoticeLink">@AdminNotice.NoticeName</a></td>
                            <td>@AdminNotice.UploadTime</td>
                            <td>@AdminNotice.ViewCount</td>
                        </tr>
                        }
                    }
                    </tbody>
                </table>

            </div>
        </div>
</div>