@using NoticeBoard.Models.VewModel
@model UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="col-md-12 ">
        <div class="card" style="min-height: 16rem; width: auto;">
            <h5 class="card-header" style="background: rgba(96,96,96,0.33)">Notice Board</h5>
            <div class="card-body" style="height: 20rem; overflow-y: scroll;">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Notice Title </th>
                            <th scope="col">Upload Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{

                        foreach(var UserNotice in Model.UserNotice)
                        {
                                <tr>
                                    <td><a onclick='manageClicks("url1")' href="@Url.Content("~/Notice/"+@UserNotice.NoticePath)">@UserNotice.NoticeName</a></td>
                                    <td>@UserNotice.UploadTime</td>
                                </tr>
                        }
                    }
                    </tbody>
                </table>

            </div>
        </div>
</div>
<script>
 function updateLinkCount(IDurl) {

  //Now generate your JSON data here to be sent to th   e server
  var json = {
              idUrl: IDurl
             };

   //Send the JSON data via AJAX to your Controller method
    $.ajax({
        url: '@Url.Action("ProcessMyURLCount", "Home")',
        type: 'post',
        dataType: "json",
        data: { "json": JSON.stringify(json)},
        success: function (data) {
                if (data.success) {
                  console.log("Successfully incremented count");
                 }
                else {
                 console.log("Could not increment count");
                }
        },
        error: function (error) {
             console.log(error)
        }
      });
    });
</script>